@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

.overlay{
  visibility: hidden;
  position: absolute;
  top:10rem;
  z-index: 1000;
  background-color: var(--backgroundColor);
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  width:15rem;
}
.overlay__nameinput{
  width: 15rem;
  padding:1rem;
  border-radius: 0.8rem;
  border:none;
  font-size: 2rem;
  text-align: center;
}
.overlay__nameinput:focus{
  outline: none;
}
