@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #252532;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

.overlay {
  visibility: hidden;
  top: 10rem;
  z-index: 1000;
  background-color: var(--backgroundColor);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
}

.overlay__nameinput {
  width: 15rem;
  padding: 1rem;
  border-radius: .8rem;
  border: none;
  font-size: 2rem;
  text-align: center;
}

.overlay__nameinput:focus {
  outline: none;
}

canvas {
  margin: auto;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 15px 15px 8px rgba(0, 0, 0, .3);
}

.title {
  margin: auto;
  display: block;
}
